* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 375px;
    border: solid 1px black;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    margin: 1em;
}

p, button {
    font-family: 'Open Sans', sans-serif;
    margin: 2em;
}

img {
    max-width: 100%;
    margin: 2em;
}

@media (max-width: 600px) {

    /* Top logo and button section  */
    .top {
        display: flex;
    }

    .top_logo {
        height: 18px;
    }

    .top_button {
        position: relative;
        left: 3.5em;
        border-radius: 100px;
        border: solid 1px hsl(322, 100%, 66%);
        padding: .4em 1.5em;
        background-color: white;
        color: hsl(322, 100%, 66%);
    }

    .container {
        text-align: center;
    }

    .hero_h1 {
        font-size: 1.5em;
        padding: .1em;
        margin-top: 2.5em;
        color: hsl(192, 100%, 9%);
    }

    .hero_button, .cta_button {
        border-radius: 100px;
        border-style: none;
        padding: .7em 3em;
        background-color: hsl(322, 100%, 66%);
        color: white;
        margin: 1.9em 0 5em 0;
        box-shadow: 1px 1px 5px gray;
    }

    .stat_box {
        margin: 2em 6em;
    }

    .stat_icon {
        height: 25px;
        position: relative;
        right: 4.5em;
        margin: 0;
    }

    .stat_num {
        padding: 0;
        margin: 0;
        font-size: 4em;
    }

    .section_img, .section_img_2, .section_img_3 {
        margin: 0;
    }

    .section_img, .section_img_3 {
        position: relative;
        top: .5em;
    }
    
    .section_img_2 {
        position: relative;
        bottom: .5em;
    }

    .section_1, .section_3 {
        background-color:  hsl(207, 100%, 98%);
        padding-bottom: 1em;
    }

    .section_3 {
        padding-bottom: 5em;
    }

    .grow_img, .hero_img, .flow_img, .user_img {
        max-width: 80%;
        margin-top: 5em;
    }

    .cta_h1 {
        font-size: x-large;
        margin-top: 3em;
    }

    .cta_button {
        margin-top: 0.5em;
        margin-bottom: 15em;
    }

}
